@using CarBrokers.Models
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @{string roleName = " ";}
                @if (User.IsInRole("Customer")) {
                    roleName = "Customer";
                } else if (User.IsInRole("Broker")) {
                    roleName = "Broker";
                }
                else {
                    roleName = "Admin";
                }

                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "(" + roleName + ")", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
